[Desktop Entry]
Encoding=UTF-8
Name=Voxels
Comment=Voxels P2P Cryptocurrency
Comment[fr]=Voxels, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Voxels, eşten eşe kriptografik sanal para birimi
Exec=voxels-qt %u
Terminal=false
Type=Application
Icon=voxels128
MimeType=x-scheme-handler/voxels;
Categories=Office;Finance;
